.ng-select-fixed-width {
    width: 200px !important;
  }
  

 
  .btn-link {
    text-decoration: none; /* Désactive le soulignement du texte */
    cursor: pointer; /* Change le curseur en pointeur pour indiquer que c'est un lien cliquable */
  }