<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-sm-4">
                    <h4>Votre Titre Ici</h4>
                </div>
                <div class="col-sm-4 offset-sm-4">
                    <div class="float-sm-right">
                        <app-etablissement-select></app-etablissement-select>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <!-- Contenu principal ici -->
    </section>
    <section class="content">
        <!-- Autre contenu ici -->
    </section>
</div>
