<div [class.offcanvas-show]="showOffcanvas" class="offcanvas offcanvas-right bg-light border-left shadow-sm">
    <div class="offcanvas-header p-3">
        <button type="button" class="close" aria-label="Close" (click)="toggleOffcanvas()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="offcanvas-title text-primary">Détaille du PAA | {{detaille?.id}}</h5>
    </div>
    <hr>
    <div class="offcanvas-body p-4 row" *ngIf="detaille">
        <!-- Contenu de l'offcanvas -->
         <div class="col">
            <div class="mb-4">
                <h6 class="text-uppercase">Input budgétaire</h6>
                <p>{{ detaille.inpuBudgetaire }}</p>
            </div>
            <div class="mb-4">
                <h6 class="text-uppercase">Objet de dépense</h6>
                <p>{{ detaille.objetDepense }}</p>
            </div>
            <div class="mb-4">
                <h6 class="text-uppercase">Montant initial</h6>
                <p>{{ detaille.mntEstimatif }} MRU</p>
            </div>
            <div class="mb-4">
                <h6 class="text-uppercase">Montant restant</h6>
                <p>{{ detaille.montantRestant }} MRU</p>
            </div>

            <div class="mb-4">
                <h6 class="text-uppercase">État</h6>
                <span class="badge badge-success" *ngIf="detaille.isvalidated">VALIDE</span>
                <span class="badge badge-danger" *ngIf="!detaille.isvalidated">NON VALIDE</span>
            </div>
         </div>

         <div class="col">
            <div class="mb-4">
                <h6 class="text-uppercase">Date prévue de lancement</h6>
                <p>{{ detaille.datePreviLancement | date:'longDate' }}</p>
            </div>
            <div class="mb-4">
                <h6 class="text-uppercase">Date prévue d'attribution</h6>
                <p>{{ detaille.datePreviAttribution | date:'longDate' }}</p>
            </div>
            <div class="mb-4">
                <h6 class="text-uppercase">Établissement</h6>
                <p>{{ detaille.etablissement.nom }}</p>
            </div>
            <div class="mb-4">
                <h6 class="text-uppercase">Type de contrat</h6>
                <p>{{ detaille.typeMarche.typeMarche }}</p>
            </div>
            <div class="mb-4">
                <h6 class="text-uppercase">Mode de passation</h6>
                <p>{{ detaille.modPassation.modePassation }}</p>
            </div>
         </div>
        
        
        
        <!-- Ajoutez d'autres propriétés de detaille ici -->
    </div>
    <div *ngIf="!detaille" class="text-center p-4">
        <p>Chargement des détails...</p>
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
