<p>etablissement works!</p>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-sm-4">
                    <h4>Etablissements</h4>
                </div>
                <div class="col-sm-4 offset-sm-4">
                    <div class="float-sm-right">
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <!-- Contenu principal ici -->
        <!-- <div class="col-md-12">
            <div class="row">
              <ejs-grid
              (rowSelected)='rowSelected($event)'
              (rowDeselecting)='rowDeselected($event)'
              [allowSelection]="true"
              #grid
              [dataSource]='etablissements'
              id="gridcomp" allowSorting='true'
              height=auto
              gridLines="Both"
              [pageSettings]="pageSettings"
              allowSorting="true"
              allowPaging="true"
            >
              <e-columns>
                <e-column field='id' headerText='Code' textAlign='Center' width=50>
                  <ng-template #template let-data>
                    {{etablissements.id}}
                  </ng-template>

                </e-column>
                <e-column field='inpuBudgetaire' headerText='Imputation' textAlign='Center' width=100>
                  <ng-template #template let-data>
                    {{etablissements.inpuBudgetaire}}
                  </ng-template>
                </e-column>
               
                <e-column field='mntEstimatif' headerText='Montant' textAlign='Center' width=100>
                  <ng-template #template let-data>
                    {{etablissements.montantRestant}}
                    MRU
                  </ng-template>
                </e-column>
                
  
  
                <e-column field='objetDepense' headerText='objet Depense' textAlign='Center' width=120>
                  <ng-template #template let-data>
                    {{etablissements.objetDepense }}
                  </ng-template>
                </e-column>
                <e-column field='datePreviAttribution' headerText="Date previe d'attribution" textAlign='Center' width=120>
                  <ng-template #template let-data>
                    {{etablissements.datePreviAttribution }}
                  </ng-template>
                </e-column>
                <e-column field='datePreviLancement' headerText="Date previe de lancement" textAlign='Center' width=120>
                  <ng-template #template let-data>
                    {{etablissements.datePreviLancement }}
                  </ng-template>
                </e-column>
                
                
  
                
                
                
              </e-columns>
             
            </ejs-grid>
            </div>
  
  
          </div> -->
    </section>
    <section class="content">
        <!-- Autre contenu ici -->
    </section>
</div>
