.content-wrapper {
  padding: 20px;
}

.form-horizontal .form-group {
  margin-bottom: 15px;
}

.text-danger {
  font-size: 0.875em;
}

.e-dialog .form-horizontal .form-group.row {
  margin-bottom: 10px;
}

.e-dialog .form-horizontal .col-form-label {
  font-weight: bold;
}
