<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-3">
        <div class="col-sm-4">
          <h4></h4>
        </div>
        <div class="col-sm-4">
          <ol class="breadcrumb float-sm-right">

          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 alert alert-info">
          <h4>Manuel de procédure d'engagement des dépenses inférieures au seuil de compétence
          des Commissions de Passation des Marchés Publics (CPMP)</h4>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <h3></h3>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row mb-3">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-6">
          <img src="assets/logo-rim.png"  class="brand-image img-circle elevation-3"
               style="width: 60%;">
        </div>
        <div class="col-sm-2">

        </div>
      </div>
    </div>
  </section>
</div>

