.separateLine {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)) center/2px 100% no-repeat;
  grid-gap: 16px;
}

.input-group {
  flex-wrap: wrap!important;
}

.input-group .invalid-feedback {
  flex-basis: 100%!important;
}
